[core]
	editor = emacs
	pager =
	autocrlf = input
[include]
	path = $HOME/.gitconfig.local
[alias]
	co = checkout
	br = branch
	st = status
	clog = log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset\"
[credential]
	helper = cache
[push]
	default = matching
